body{
background-color: beige;
font-family: 'Yanone Kaffeesatz', sans-serif;
}



table,th,td {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid rgb(25, 117, 179) 1px;
    border-collapse: collapse;
    text-align: center;
}
th {
    height: 10px;
    width: 80px;
    
  }

header h1{
    color: rgb(25, 117, 179);
    text-align: center;
    word-spacing: 10px;
    font-size: 350%;


}
header h2{
    color: rgb(25, 117, 179);
    text-align: center;
    word-spacing: 10px;
    font-size: 200%;


}

h3{
    font-size: 120%;

    font-size: 150%;
    color: rgb(25, 117, 179);

}
header nav{
    float: right;
    text-transform: capitalize;

}
header a{
    text-decoration: none;
    padding-left: 25px;
    font-size: 220%;
    display: inline-block;
    margin: 0 7px;
    list-style: none;


}


nav a:link,
nav a:visited {
    text-decoration: none;
    color: rgb(0, 133, 185);
  padding: 7px 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.25s;
}

nav a:hover,
nav a:active {
  border-bottom: 2px solid rgb(31, 119, 75);
}

#table1{
    color: rgb(31, 119, 75);
    word-spacing: 2px;
    font-size: 150%;
   word-spacing: 10px;
    font-size: 120%;
    margin:60px;


}