body{
  background-color: beige;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}



table,th,td {
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid rgb(25, 117, 179) 1px;
    border-collapse: collapse;
    text-align: center;
  }
  th {
    height: 10px;
    width: 80px;
    
  }
  header{
    background-color: rgb(211, 238, 255);
    padding-top: 5px;
    padding-bottom: 10px;
  }
  header h1{
    text-align: center;
    word-spacing: 10px;
    font-size: 350%;
    color: rgb(25, 117, 179);
    position: relative;
    
    
  }
  header h2{
    color: rgb(25, 117, 179);
    text-align: center;
    word-spacing: 10px;
    font-size: 200%;
    
    
  }
  
  h3{
    font-size: 120%;
    font-size: 150%;
    color: rgb(25, 117, 179);
    
  }
  header nav{
    float: right;
    text-transform: capitalize;
    
  }
  header a{
    text-decoration: none;
    padding-left: 30px;
    font-size: 220%;
    display: inline-block;
    margin: 0 7px;
    list-style: none;


}


nav a:link,
nav a:visited {
    text-decoration: none;
    color: rgb(0, 133, 185);
    padding: 7px 10px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.25s;
}

nav a:hover,
nav a:active {
  border-bottom: 4px solid rgb(31, 119, 75);
  border-radius: 5px;

}

#table1{
    color: rgb(31, 119, 75);
    word-spacing: 2px;
    font-size: 150%;
   word-spacing: 10px;
    font-size: 120%;
    margin:60px;


}


nav img{
    margin: 0 10%;
    width: 10%;

}

.head-main{
    text-align:center;
    font-size: 250%;
    color: rgb(25, 117, 179);
    position: relative;


}

.location img{
    width: 100%;
    padding-left: 1px;
}


.container {
    position: relative;
    width: 20%;
    padding-right: 11px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    height: 100%;
  }
  
  .text {
    font-family: 'Yanone Kaffeesatz', sans-serif;

    white-space: nowrap; 
    color: white;
    font-size: 15px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }