body{
background-color: beige;
font-family: 'Yanone Kaffeesatz', sans-serif;
}



table,th,td {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid rgb(25, 117, 179) 1px;
    border-collapse: collapse;
    text-align: center;
}
th {
    height: 10px;
    width: 80px
    
  }

header h1{
    color: rgb(25, 117, 179);
    text-align: center;
    word-spacing: 10px;
    font-size: 350%;


}

h3{
    font-size: 120%;

    font-size: 150%;
    color: rgb(25, 117, 179);

}

#parent{
    color: rgb(31, 119, 75);
    word-spacing: 2px;
    font-size: 150%;
   word-spacing: 10px;
    font-size: 120%;



}